.home{
    padding:0 10% ;
}
.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px;
}
.home-container .txt-container{
    flex: 1 1 45rem;
}
.home-container .img-container {
    flex: 1 1 45rem;
    text-align: center;
}
.home-container .img-container img{
    width: 100%;
    border-radius: 8px;
}
.home-container button{
    padding: 10px 20px ;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #A6570C;
    cursor: pointer;
}
.customer-review h1{
    text-align: center;
}



.review-cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.review-content {
    border: 0.2rem solid #443;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    text-align: center;
    position: relative;
    padding: 2rem;
}
.review-content img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.review-content .fa-left{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    color: #ccc;
}
.review-content .fa-right{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #ccc;
}
.cart-container{
    background-color: #a0b9e7;
}

button.review-btn{
    text-align: center;
    padding: 10px 20px ;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #A6570C;
    cursor: pointer;
    margin-left: 50%;
}

@media screen and (max-width:680px) {
.review-cart{
    grid-template-columns: repeat(1, 1fr);
    /* text-align: center; */
    }
}
@media screen and (min-width:1100px) {
.review-cart{
    grid-template-columns: repeat(2, 1fr);
    }
}