nav {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  padding: 0 35%;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  z-index: 12;
}

.link {
  text-decoration: none;
  margin-left: 25px;
  font-size: 20px;
  color: #404040;
  transition: color ease-in-out 300ms;
}
  
.link:hover {
  color: #6B4040;
}

.active-link {
  text-decoration: none;
  margin-left: 25px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
  color: #C54A3F;
}
  

@media only screen and (max-width:680px){
  nav{
    padding: 0;
  }
}